TELEGRAM_BOT_TOKEN=
ADMIN_IDS=
CORS_ORIGIN=*
STEAM_API_KEY=
FACEIT_API_KEY=
ALPHA_CLIENT_ID=
ALPHA_CLIENT_SECRET=
ALPHA_OAUTH_BASE=https://developerhub.alfabank.by:8273
ALPHA_API_BASE=https://developerhub.alfabank.by:8273
ALPHA_ACCOUNTS_PATH=/individual/1.0.0/accounts
ALPHA_SCOPE=accounts_individual
MELLOW_API_TOKEN=
PRIOR_API_TOKEN=
